@font-face {
  font-family: 'SF UI Text';
  src: local('SF UI Text'), url(../fonts/SF-UI-Text-Light.ttf), format('truetype');
}
@font-face {
  font-family: 'SF UI Text Semibold';
  src: local('SF UI Text'), url(../fonts/SF-UI-Text-Semibold.ttf), format('truetype');
}
@font-face {
  font-family: 'SF Pro Display';
  src: local('SF Pro Display'), url(../fonts/SF-Pro-Display-Light.otf), format(truetype);
}
@font-face {
  font-family: 'SF Pro Display Semibold';
  src: local('SF Pro Display Semibold'), url(../fonts/SF-Pro-Display-Semibold.otf), format(truetype);
}